[submodule "Plugins/glm-0.9.9.8/glm"]
	path = Plugins/glm-0.9.9.8/glm
	url = https://github.com/g-truc/glm.git

[submodule "Plugins/stb_image/stb"]
	path = Plugins/stb_image/stb
	url = https://github.com/nothings/stb
[submodule "Plugins/imgui/imgui"]
	path = Plugins/imgui/imgui
	url = https://github.com/ocornut/imgui
[submodule "Plugins/yaml-cpp-0.8.0/yaml-cpp"]
	path = Plugins/yaml-cpp-0.8.0/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
